<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> | Comment: <%= bookmark.comment %>
      <%= link_to 'Delete Bookmark', bookmark_path(bookmark), data: {turbo_method: :delete, confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', lists_path %>
