
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://files.cults3d.com/uploaders/20952150/illustration-file/3ff506ac-83d8-40ab-b474-3ebc2c727b7a/pngwing.com-2022-02-20T081900.534.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "All Lists", lists_path %>
          </li>
      </ul>
    </div>
  </div>
</div>


<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> | Description: <%= bookmark.comment %>
      <%= link_to 'Delete Bookmark', bookmark_path(bookmark), data: {turbo_method: :delete, confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add Bookmark',  new_list_bookmark_path(@list) %>
<%= link_to 'Back', lists_path %>
